<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://invoiceassessmentapi20220325121717.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0c723b37-9358-48b7-8e55-d10bf7436876/resourcegroups/invoiceGroup/providers/Microsoft.Web/sites/InvoiceAssessmentApi20220325121717</ResourceId>
    <UserName>$InvoiceAssessmentApi20220325121717</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://invoiceassessmentapi20220325121717.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>